th {
    padding: 1rem;
}

th, td {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    padding: 8px;
}

h2 {
    padding: 1.06rem 0 !important;
}

.TableImage {
    padding: 1.375rem 1.5rem;
    padding: 0; 
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}




